services:
  gateway:
    depends_on:
      - web
      - be
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 8080:8080
  web:
    build: ./web
    image: r2-web
  be:
    build: ./be-high-level
    image: r2-be-high-level
    depends_on:
      - db
    ports:
      - "4000:4000"

  db:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: r2_db